{
  "trailingComma": "es5",
  "prettier.tabWidth": 2,
  "editor.formatOnSave": true,
  "prettier.semi": true,
  "prettier.javascriptEnable": ["javascript"],
  "prettier.printWidth": 2,
  "prettier.useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true
}
